<div class="P-order">
  <p class="G-fs-22 G-mb-3">Order details</p>
  <div class="P-table">
    <div class="P-table-headers">
      <div class="P-table-header">
        <div class="P-col">Order ID</div>
        <div class="P-col">Order Date</div>
        <div class="P-col">Item Count</div>
        <div class="P-col">Total Amount</div>
        <div class="P-col">Shipping Address</div>
        <div class="P-col">Payment method</div>
        <div class="P-col P-status">Status</div>
      </div>
      <div class="P-table-header">
        <div class="P-col">00002</div>
        <div class="P-col">01.01.2020 13:59</div>
        <div class="P-col">1</div>
        <div class="P-col">75.000</div>
        <div class="P-col">str. Estonakan, apt 12\1</div>
        <div class="P-col"><img src="/assets/images/visa.png" alt=""> **** 1212</div>
        <div class="P-col P-status P-finished">Rate</div>
      </div>
    </div>
    <div class="P-table-row" >
      <div class="P-col">
        <div class="P-img" [bgImage]="'assets/images/product1.png'"></div>
      </div>
      <div class="P-col">01.01.2020 13:59</div>
      <div class="P-col">1</div>
      <div class="P-col">75.000</div>
      <div class="P-col">str. Estonakan, apt 12\1</div>
      <div class="P-col">str. Estonakan, apt 12\1</div>
      <div class="P-col P-rate">Rate</div>
    </div>
    <div class="P-table-row">
      <div class="P-col">
        <div class="P-img" [bgImage]="'assets/images/product2.png'"></div>
      </div>
      <div class="P-col">01.01.2020 13:59</div>
      <div class="P-col">1</div>
      <div class="P-col">75.000</div>
      <div class="P-col">str. Estonakan, apt 12\1</div>
      <div class="P-col">str. Estonakan, apt 12\1</div>
      <div class="P-col P-rate">Rate</div>
    </div>
    <div class="P-table-row">
      <div class="P-col">
        <div class="P-img" [bgImage]="'assets/images/product3.png'"></div>
      </div>
      <div class="P-col">01.01.2020 13:59</div>
      <div class="P-col">1</div>
      <div class="P-col">75.000</div>
      <div class="P-col">str. Estonakan, apt 12\1</div>
      <div class="P-col">str. Estonakan, apt 12\1</div>
      <div class="P-col P-rate">Rate</div>
    </div>
  </div>
  <div class="P-price-details">
    <div class="P-prices">
      <div class="P-item">
        <span>Subtotal:</span>
        <span>181.358 ֏</span>
      </div>
      <div class="P-item">
        <span>Discount:</span>
        <span>5.282 ֏</span>
      </div>
      <div class="P-item">
        <span>Shipping:</span>
        <span>Free shipping</span>
      </div>
      <div class="P-item P-total">
        <span>Total:</span>
        <span>176.076 ֏</span>
      </div>
    </div>
  </div>
</div>
