<h2 class="G-text-center G-bold G-mb-4">Forgot your password?</h2>
<form class="G-flex G-flex-column G-mb-2" (ngSubmit)="sendCodeForForgotPassword()">
  <span class="G-fs-20 G-mb-2">Please write your {{ reqData.registerType === RegisterTypeEnum.Phone ? 'account phone number' : 'email' }} to recover password.</span>
  <div class="G-input-group G-flex" *ngIf="reqData.registerType === RegisterTypeEnum.Phone">
    <div class="P-drop-down">
      <app-dropdown [disable]='true' [list]="userPhoneNumber" [(value)]="reqData.phoneCode"></app-dropdown>
    </div>
    <input placeholder="Enter your phone number" type="number" [(ngModel)]="reqData.phoneNumber" [autoValidation]="reqData" [class.G-error]="reqData.errors.phoneNumber" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="G-input-group" *ngIf="reqData.registerType === RegisterTypeEnum.Email">
    <input placeholder="Enter your email address" type="text" [(ngModel)]="reqData.email" [autoValidation]="reqData" [class.G-error]="reqData.errors.email" [ngModelOptions]="{standalone: true}">
  </div>
  <button type="submit" app-button [pLoader]="buttonLoading">NEXT</button>
</form>

<p (click)="changeVerifyType()" class="G-text-center G-fs-20 G-bold G-mt-1 G-cursor">Recover with {{ reqData.registerType === RegisterTypeEnum.Phone ? 'Email' : 'Phone number' }}</p>
