@import "variables";

.P-password {
  position : relative;

  i {
    position : absolute;
    right    : 10px;
    top      : 35%
  }
}


.P-checkbox-error {
  border-color: $red;
}

.P-checkbox-checked {
  border-color: #bbbbbb;
}

button {
  width            : 100%;
  color            : $white;
  background-color : $main-color;
  max-width        : unset;
}
