
<h2 class="G-text-center G-bold G-mb-4">Create account</h2>

<form class="G-flex G-flex-column G-mb-2" (ngSubmit)="register()">
  <span class="G-fs-20 G-ml-1 G-mb-2 G-bold">Enter your password</span>
  <div class="G-input-group P-password">
    <input placeholder="Password" [autoValidation]="reqData" [type]="showPassword ? 'text' : 'password'" name="password" [(ngModel)]="reqData.password" [class.G-error]="reqData.errors.password">
    <i [class]="showPassword ? 'icon-open-eye' : 'icon-blind'" (click)="togglePassword()"></i>
  </div>
  <div class="G-input-group P-password">
    <input placeholder="Repeat password" [autoValidation]="reqData" [type]="showConfirmPassword ? 'text' : 'password'" name="confirm" [(ngModel)]="reqData.confirm" [class.G-error]="reqData.errors.confirm">
    <i [class]="showConfirmPassword ? 'icon-open-eye' : 'icon-blind'" (click)="toggleConfirmPassword()"></i>
  </div>

  <div class="G-input-group">
    <div class="G-flex">
      <div [checkbox]="reqData.privacy" [class.P-checkbox-error]="reqData.errors.privacy" [class.P-checkbox-checked]="reqData.privacy" class="G-mr-1 G-cursor" (click)="setPrivacy()"></div>
      <span>I have read and agree to the <a class="G-bold" (click)="openPrivacy()">Privacy policy</a> and <a class="G-bold" (click)="openTerms()">Terms & conditions</a>.</span>
    </div>
  </div>
  <button type="submit" app-button [pLoader]="buttonLoading">CREATE</button>
</form>

<app-privacy-modal *ngIf="privacyIsOpen" (close)="closePrivacy()"></app-privacy-modal>
<app-terms-modal *ngIf="termsIsOpen" (close)="closeTerms()"></app-terms-modal>
