<div class="P-orders">
  <p class="G-fs-22 G-mb-3">Order History</p>
  <div class="P-table">
    <div class="P-table-header">
      <div class="P-col">Order ID</div>
      <div class="P-col">Order Date</div>
      <div class="P-col">Item Count</div>
      <div class="P-col">Total Amount</div>
      <div class="P-col">Shipping Address</div>
      <div class="P-col P-status">Status</div>
    </div>
    <div class="P-table-row" routerLink="./details">
      <div class="P-col"><span>00002</span></div>
      <div class="P-col">01.01.2020 13:59</div>
      <div class="P-col">1</div>
      <div class="P-col">75.000</div>
      <div class="P-col">str. Estonakan, apt 12\1</div>
      <div class="P-col P-status P-in-progress">In progress</div>
    </div>
    <div class="P-table-row">
      <div class="P-col"><span>00002</span></div>
      <div class="P-col">01.01.2020 13:59</div>
      <div class="P-col">1</div>
      <div class="P-col">75.000</div>
      <div class="P-col">str. Estonakan, apt 12\1</div>
      <div class="P-col P-status P-finished">Finished</div>
    </div>
    <div class="P-table-row">
      <div class="P-col"><span>00002</span></div>
      <div class="P-col">01.01.2020 13:59</div>
      <div class="P-col">1</div>
      <div class="P-col">75.000</div>
      <div class="P-col">str. Estonakan, apt 12\1</div>
      <div class="P-col P-status P-in-progress P-canceled">Canceled</div>
    </div>
  </div>
</div>
