<div class="P-personal-info">
  <p class="G-fs-22 G-mb-3">Personal information</p>
  <div class="P-form">
    <form class="G-flex G-flex-column G-mb-2" (ngSubmit)="changePersonalInfo()">
      <div class="P-row">
        <div class="G-input-group">
          <label>First name</label>
          <input [value]="reqData.firstName" type="text" name="firstName" [(ngModel)]="reqData.firstName" [autoValidation]="reqData" [class.G-error]="reqData.errors.firstName">
        </div>
        <div class="G-input-group">
          <label>Last name</label>
          <input type="text" name="lastName" [(ngModel)]="reqData.lastName" [autoValidation]="reqData" [class.G-error]="reqData.errors.lastName">
        </div>
      </div>
      <div class="P-row">
        <div class="G-input-group">
          <div class="G-flex G-justify-between">
            <label>Phone number</label>
            <span *ngIf="(reqData.secondPhoneCode + phoneNumber) !== user.phoneNumber && validatePhone()" class="G-cursor G-red-color" (click)="openVerifyPhone()">Verify</span>
          </div>
          <div class="P-phone">
            <div class="P-drop-down">
              <app-dropdown [disable]="true" [list]="userPhoneNumber" [(value)]="reqData.secondPhoneCode"></app-dropdown>
            </div>
            <input type="number" name="phoneNumber" [(ngModel)]="phoneNumber">
          </div>
        </div>
        <div class="G-input-group">
          <label>Second phone number</label>
          <div class="P-phone">
            <div class="P-drop-down">
              <app-dropdown [disable]="true" [list]="userPhoneNumber" [(value)]="reqData.secondPhoneCode"></app-dropdown>
            </div>
            <input type="number" name="secondPhoneNumber" [autoValidation]="reqData" [(ngModel)]="reqData.secondPhoneNumber" [class.G-error]="reqData.errors.secondPhoneNumber">
          </div>
        </div>
      </div>
      <div class="P-row">
        <div class="G-input-group">
          <div class="G-flex G-justify-between">
            <label>Email</label>
            <span *ngIf="email !== user.email && validateEmail()" class="G-cursor G-red-color" (click)="openVerify()">Verify</span>
          </div>
          <input type="text" name="email" [(ngModel)]="email">
        </div>
        <div class="G-input-group">
          <label>Date of Birth</label>
          <p-calendar type="date" name="dateOfBirth" [autoValidation]="reqData" [yearNavigator]="true" [yearRange]="(maxDate.getFullYear() - 72) + ':' + maxDate.getFullYear()" [(ngModel)]="reqData.dateOfBirth" [class.G-error]="reqData.errors.dateOfBirth"></p-calendar>
        </div>
      </div>
      <div class="P-row">
        <div class="G-input-group ">
          <label>Gender</label>
          <app-dropdown [list]="gender" [(value)]="reqData.gender"></app-dropdown>
        </div>
        <div class="G-input-group ">
        </div>
      </div>
      <button type="submit" class="G-md-1-btn" app-button [pLoader]="perInfoBtnLoading">Save</button>
    </form>
  </div>
  <app-password></app-password>
</div>

<app-verify-modal *ngIf="verifyIsOpen" (close)="closeVerify()" (update)="updateEmail($event)" [email]="email"></app-verify-modal>
<app-verify-phone-modal *ngIf="verifyPhoneIsOpen" (close)="closeVerifyPhone()" (update)="updatePhone($event)" [phoneNumber]="reqData.secondPhoneCode + phoneNumber"></app-verify-phone-modal>