<div class="P-promo">
  <p class="G-fs-22 G-mb-3">Promo code</p>
  <div class="P-table">
    <div class="P-table-header">
      <div class="P-col">Code</div>
      <div class="P-col">Discount</div>
    </div>
    <div class="P-table-row">
      <div class="P-col"><span>355VP75L</span></div>
      <div class="P-col"><span>3%</span></div>
    </div>
    <div class="P-table-row">
      <div class="P-col"><span>355VP75L</span></div>
      <div class="P-col"><span>3%</span></div>
    </div>
    <div class="P-table-row">
      <div class="P-col"><span>355VP75L</span></div>
      <div class="P-col"><span>0</span></div>
    </div>
  </div>
</div>
