<footer class="P-footer">
  <div class="P-top">
    <div class="P-subscribe">
      <p>Subscribe for newsletter</p>
      <div class="P-actions">
        <input type="text" name="email">
        <button app-button class="G-md-btn">Subscribe</button>
      </div>
    </div>
    <div class="P-social-links">
      <a href="https://www.facebook.com/IdealSystemArmenia/" target=_blank>
        <img src="/assets/svg/facebook.svg" alt="">
      </a>
      <a href="https://instagram.com/idealhamakarg" target=_blank>
        <img src="/assets/svg/instagram.svg" alt="">
      </a>
      <a href="https://twitter.com/IdealSystemArm" target=_blank>
        <img src="/assets/svg/twiter.svg" alt="">
      </a>
      <a href="https://www.youtube.com/user/idealsystemchannel" target=_blank>
        <img src="/assets/svg/youtube.svg" alt="">
      </a>
      <a href="https://www.pinterest.com/idealsystem/" target=_blank>
        <img src="/assets/svg/pinterest.svg" alt="">
      </a>
    </div>
  </div>
  <div class="P-bottom">
    <div class="P-logo">
      <img src="/assets/images/ideal2x.png" alt="icon">
      <p class="G-fs-18 G-mt-2">
        The Ideal System team is always ready to support you.
      </p>
    </div>
    <div class="P-column">
      <p class="G-text-left">Company</p>
      <span>About us</span>
      <span>Bestsellers</span>
      <span>New products</span>
      <span>Discounted products</span>
      <span>Recommended products</span>
      <span>Our stores</span>
      <span>News and Events</span>
      <span>Tips and Advices</span>
    </div>
    <div class="P-column">
      <p class="G-text-left">Help & support</p>
      <span>Get in touch</span>
      <span>FAQ</span>
      <span>Privacy policy</span>
      <span>Terms & conditions</span>
      <span>Delivery and payment</span>
      <span>How to order</span>
      <span>Guarantee</span>
    </div>
    <div class="P-column P-address">
      <p class="G-text-left">Contact us</p>
      <div class="G-flex G-justify-between">
        <span class="P-info">Phone:</span>
        <span class="P-data G-text-left">+373 11 55 55 25</span>
      </div>
      <div class="G-flex G-justify-between">
        <span class="P-info">Hot line:</span>
        <span class="P-data G-text-left">8660</span>
      </div>
      <div class="G-flex G-justify-between">
        <span class="P-info">Email:</span>
        <span class="P-data G-text-left">info@idealsystem.am</span>
      </div>
      <div class="G-flex G-justify-between">
        <span class="P-info">Address:</span>
        <span class="P-data G-text-left">Armenia, Yerevan, Tbilisi highway 25</span>
      </div>
    </div>
  </div>
  <p class="G-text-center G-fs-14 P-copy">© 2020 IMEX Group Co. LTD, All rights reserved.</p>
</footer>
