<div class="P-card">
  <p class="G-fs-22 G-mb-3">Payment method</p>
  <div class="P-list">
    <div class="P-card-box P-active">
      <div class="P-check"><i class="icon-check"></i></div>
      <div class="P-card-header">
        <img src="assets/images/visa.png" alt="">
        <div class="P-actions">
          <i class="icon-edit"></i>
          <i class="icon-close"></i>
        </div>
      </div>
      <div class="P-card-number">
        <span>****</span> <span>****</span> <span>****</span> <span>1122</span>
      </div>
      <div class="P-details">
        <div>
          <div class="P-name">Name</div>
          <div class="P-data">Natali Rushanyan</div>
        </div>
        <div>
          <div class="P-name">Date</div>
          <div class="P-data">10/20</div>
        </div>
      </div>
    </div>
    <div class="P-card-box">
      <div class="P-check"><i class="icon-check"></i></div>
      <div class="P-card-header">
        <img src="assets/images/visa.png" alt="">
        <div class="P-actions">
          <i class="icon-edit"></i>
          <i class="icon-close"></i>
        </div>
      </div>
      <div class="P-card-number">
        <span>****</span> <span>****</span> <span>****</span> <span>1122</span>
      </div>
      <div class="P-details">
        <div>
          <div class="P-name">Name</div>
          <div class="P-data">Natali Rushanyan</div>
        </div>
        <div>
          <div class="P-name">Date</div>
          <div class="P-data">10/20</div>
        </div>
      </div>
    </div>
    <div class="P-add">
      <div class="P-icon-loc">
        <i class="icon-cards"></i>
      </div>
      <p>Add new card</p>
    </div>
  </div>
</div>
