
<h2 class="G-text-center G-bold G-mb-4">Reset your password</h2>
<form class="G-flex G-flex-column G-bold G-mb-2" (ngSubmit)="resetPassword()">
  <span class="G-fs-20 G-ml-1 G-mb-2">Enter your password</span>
  <div class="G-input-group P-password">
    <input placeholder="Password" [type]="showPassword ? 'text' : 'password'" name="password" [autoValidation]="resetReqModel" [(ngModel)]="resetReqModel.password" [class.G-error]="resetReqModel.errors.password">
    <i class="icon-open-eye" (click)="showPassword = false" *ngIf="showPassword"></i>
    <i class="icon-blind" (click)="showPassword = true" *ngIf="!showPassword"></i>
  </div>
  <div class="G-input-group P-password">
    <input placeholder="Repeat password" [type]="showConfirmPassword ? 'text' : 'password'" name="confirm" [autoValidation]="resetReqModel" [(ngModel)]="resetReqModel.confirm" [class.G-error]="resetReqModel.errors.confirm">
    <i class="icon-open-eye" (click)="showConfirmPassword = false" *ngIf="showConfirmPassword"></i>
    <i class="icon-blind" (click)="showConfirmPassword = true" *ngIf="!showConfirmPassword"></i>
  </div>
  <button type="submit" app-button [pLoader]="buttonLoading">CREATE</button>
</form>
