@import "variables";

.P-password {
  position : relative;

  i {
    position : absolute;
    right    : 10px;
    top      : 35%
  }
}

button {
  width            : 100%;
  color            : $white;
  background-color : $main-color;
  max-width: unset;
}
