@import "variables";


.P-sign-in-suggestions {
  width  : 60%;
  margin : 0 auto;
}

.P-drop-down {
  width     : 140px;
  min-width : 140px;
}

.P-password {
  position : relative;

  i {
    position : absolute;
    right    : 10px;
    top      : 21px
  }
}

.P-or {
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  width           : 100%;
  padding         : 15px 0;

  .P-line {
    width      : 45%;
    height     : 1px;
    background : $light-gray;
  }
}

button {
  width            : 100%;
  color            : $white;
  background-color : $main-color;
  max-width        : unset;
}

input {
  width : 100%;
  color : $black;
}
